.emacs.d/auto-save-list
.emacs.d/elpa
.emacs.d/var
.emacs.d/.cask
.emacs.d/ido.*
.emacs.d/eshell/history
.emacs.d/eshell/lastdir
.emacs.d/projectile-bookmarks.eld
.emacs.d/ac-comphist.dat
.emacs.d/url/
*~
\#*
*#
.netrwhist
