# This file is ~/.gitconfig
[user]
        name = Aldric Giacomoni
        email = trevoke@gmail.com

[alias]
        s = status -s
        co = checkout
        aa = add --all
        st = status
        sm = submodule
        rso = remote show origin
        pr = !sh -c 'git pull --rebase | [ $(grep \"up to date\" -c) -ne 1 ] && git diff $1@{1}..$1@{0} "$@" --color'
  # e.g. git graphviz --first-parent master | dotty /dev/stdin
        graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
  # Pretty log
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  # Print out all commits whose hash starts with a given string
        abbr = "!sh -c 'git rev-list --all | grep ^$1 | while read commit; do git --no-pager log -n1 --pretty=format:\"%H %ci %an %s%n\" $commit; done' -"
  # Two little tweaks to diff
        changes=diff --name-status -r
        diffstat=diff --stat -r
        pr = !sh -c 'git pull --rebase | [ $(grep \"up to date\" -c) -ne 1 ] && git diff $1@{1}..$1@{0} "$@" --color'
        la = "!git config -l | grep alias | cut -c 7-"

[stash]
        date = local
[push]
        default = current
[pull]
        default = current
[core]
        excludesfile = ~/.gitignore_global
        editor = vim
[difftool "sourcetree"]
        cmd = opendiff \"$LOCAL\" \"$REMOTE\"
        path = 
[mergetool "sourcetree"]
        cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
        trustExitCode = true
[color]
        ui = auto
[init]
        templatedir = ~/.git_template
 [merge]
        summary = true
 	tool = diffmerge
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
